.signup-form-holder {
    background-color: #485461;
    border-radius: 5px;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(72,94,116,0.7);
    flex: 0 0 300px;
}

.signup-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0 0 100%;
}

.signup-form button {
    margin-top: 20px;
}



