nav {
    background-color: #485461;
    font-size: 20px;
    line-height: 6vh;
    padding: 4px 10px;
    display: flex;
    justify-content: space-around;
    color: #3d2413;
    width: 100vmax;
}

nav ul {
    display: flex;
}

.nav__link {
    text-decoration: none;
    color: lightgrey;
}